*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.steps__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 1rem;
  margin: 3rem auto;
}

.steps__form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.steps__row {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: 700;
}

.steps__input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.4rem;
}

.steps__btn {
  padding: 0.4rem 0.7rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #d2dff5;
  border: 1px solid #658bca;
  cursor: pointer;
}

.steps__table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.steps__headers {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.step__header {
  font-size: 1.1rem;
  flex: 0 1 calc((100% - 2rem) / 3);
  text-align: center;
}

.step {
  display: flex;
  justify-content: space-between;
}

.step__col {
  flex: 0 1 calc((100% - 2rem) / 3);
  text-align: center;
}

.step__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.step__control {
  width: 22px;
  height: 22px;
  padding: 0.1rem;
  background-color: transparent;
  cursor: pointer;
}

.step__control img {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
